<!DOCTYPE html>
<html>
  <head>
    <title>AjaxTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navtopbar">
    <h2><img src="https://i.pinimg.com/originals/5c/b9/18/5cb918952f184853961ea83597082f38.png">kittr</h2>
    <div>
    <ul>
      <li><a href="<%= feed_url %>">Feed</a></li>
      <li><a href="<%= search_users_url %>">User Search</a></li>
      <li><h1>Welcome <%= current_user.username %>!</h1></li>
    </ul>

    <% if current_user %>
      <form action="/session" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <input type="submit" value="Logout!">
      </form>
    <% end %>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
